body{
    margin: 0;
    padding: 0;
}

.background{
    background-color: beige;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/JangCoach.png");
    background-position-x: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: auto;
}

.search-area{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0,0.2)
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 300px;
    height: 46px;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    outline: none;
}

.search-input::placeholder{
    padding-left: 30px;
}

.search-btn{
    width: 80px;
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    border:none;
    margin-left: 110px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

@keyframes focusSearch{
    0%{
        width: 300px;
    }

    100%{
        width: 80vw;
    }
}

@keyframes moveBtn{
    0%{
        margin-left: 110px;
    }
    100%{
        margin-left: 40vw;
    }
}

@keyframes outFocused{
    0%{
        width: 80vw;
    }
    100%{
        width: 300px;
    }
}

@keyframes revertBtn{
    0%{
        margin-left: 40vw;
    }
    100%{
        margin-left: 110px;
    }
}