body{
    margin: 0;
    padding: 0;
}

.background{
    background-color: beige;
    width: 100vw;
    height: 100vh;
    background-position-x: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: auto;
}

.search-area{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0099CC;
    color: white;
    box-shadow: 0 0 20px black;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 300px;
    height: 46px;
    margin: 0;
    border-radius: 20px;
    outline: none;
    padding-left: 30px;
    font-size: 20px;
}

.search-input::placeholder{
    padding-left: 30px;
}

.search-input:focus{
    font-weight: 700;
    color: darkcyan;
}

.search-btn{
    width: 80px;
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    border:none;
    margin-left: 130px;
    background-color: black;
    color: white;
    border-radius: 0 20px 20px 0;
    outline: none;
    cursor: pointer;
}

@keyframes focusSearch{
    0%{
        width: 300px;
    }

    100%{
        width: 80vw;
    }
}

@keyframes moveBtn{
    0%{
        margin-left: 130px;
    }
    100%{
        margin-left: 39vw;
    }
}

@keyframes outFocused{
    0%{
        width: 80vw;
    }
    100%{
        width: 300px;
    }
}

@keyframes revertBtn{
    0%{
        margin-left: 39vw;
    }
    100%{
        margin-left: 130px;
    }
}